{% extends 'booking/base.html' %}
{% block content %}



<body>
    <div class="container">
        <div class="form-container">
            <h2>Booking Form</h2>
            <form method="post">
                {% csrf_token %}
                <!-- Поля форми, згенеровані Django -->
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- Підключення Bootstrap JS та Popper.js (якщо потрібно) -->



{% endblock %}